# VS Code
.vscode/*
!.vscode/c_cpp_properties.json

# macOS junk
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
*.icloud

# SQLite temp files
*.db-journal
*.db-shm
*.db-wal

# Project specific
todue
.todue/
build/